body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #001c30;
}

.judul {
  background-color: #213555;
  color: #d8c4b6;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
}

main {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

article {
  background-color: rgba(152, 190, 240, 0.338);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #094074;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #094074;
}

.tugas_list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  border-radius: 4px;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

li button {
  background-color: #f06060;
  margin-right: 10px;
}

.filtered-tasks {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.search-input {
  margin-top: 30px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
